In [1]:
from datasets import load_dataset
import pandas as pd

In [2]:
id = "gauss314/options-IV-SP500"
data_iv = load_dataset(id)
df_iv = pd.DataFrame(data_iv['train'][:])

In [3]:
df_iv.date = pd.to_datetime(df_iv.date)

In [4]:
df_iv.iloc[:200]

,Unnamed: 0,symbol,date,strikes_spread,calls_contracts_traded,puts_contracts_traded,calls_open_interest,puts_open_interest,expirations_number,DITM_IV,...,contracts_number,hv_20,hv_40,hv_60,hv_75,hv_90,hv_120,hv_180,hv_200,VIX
0,0,A,2019-10-14,17.12,19878,1001,9365,12705,6,30.21,...,247,24.467,24.178,28.006,26.956,25.212,29.358,26.425,27.206,14.57
1,1,AA,2019-10-14,4.42,6194,3010,54013,38674,6,50.78,...,266,33.726,46.764,48.121,44.765,42.537,40.164,39.245,42.725,14.57
2,2,AABA,2019-10-14,5.23,4301,2863,159161,53453,5,32.94,...,298,250.021,178.984,146.748,131.652,121.370,106.253,87.977,71.316,14.57
3,3,AAL,2019-10-14,5.28,20034,7695,321062,217407,8,44.31,...,510,38.522,36.471,39.363,37.234,36.833,36.954,34.129,40.415,14.57
4,4,AAN,2019-10-14,7.99,133,520,621,657,4,38.67,...,110,38.073,34.551,32.789,30.906,30.523,34.543,31.101,32.307,14.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,APH,2019-10-14,6.31,56,105,588,1326,2,26.78,...,68,19.401,23.563,27.935,25.900,24.836,24.309,21.850,22.763,14.57
196,196,APHA,2019-10-14,17.91,5443,821,146771,60019,5,95.98,...,94,63.072,59.750,103.465,93.573,87.261,82.941,81.783,101.710,14.57
197,197,APLE,2019-10-14,30.29,491,164,5904,1377,2,42.42,...,44,9.618,13.624,15.954,15.602,15.620,15.133,15.192,16.455,14.57
198,198,APO,2019-10-14,2.78,1987,4552,48223,35682,7,37.40,...,390,29.205,35.495,38.501,35.822,33.466,32.690,31.018,33.248,14.57
199,199,APOG,2019-10-14,13.03,84,39,243,185,2,38.10,...,36,55.199,45.873,41.225,43.271,41.027,37.767,33.720,35.236,14.57

In [5]:
len(df_iv)

3161661